*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo
{
    width: 30%;
    margin-bottom: 0.5%;
}

nav{
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#boiteprojet
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 25%;
    background-color: #614DE0;
        border-radius: 100px;
}
#boitecv
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 25%;
    background-color: #614DE0;
    border-radius: 50px;
}
#boitecontact
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 25%;
    background-color: #614DE0;
    border-radius: 50px;
}
#presentation
{
    width: 100%;
    height: 50vh;
    background-color: #614DE0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.presentation
{
    margin-top: 3%;
    font-size: 1.5em;
    line-height: 50px;
}
#competence
{
    width: 100%;
    height: 60vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#competences
{
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: #FFFFFF;
    border: solid 2px #C1C1C1;
    border-radius: 15px;
    margin-bottom: 15%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.mescompetences
{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


/*formulaire de contact*/

form input, form textarea
{
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 500px;
    height: 50px;
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    border: 1px solid;
    border-radius: 15px;
}

/*grid projets*/
#fondprojet
{
    background-color: #614DE0;
    width: 100%;
    height: 225vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#mesprojets
{
    border-radius: 50px;
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #614DE0;
}
.container
{
    background-color: red;
    border: 1px solid black;
}
.container:nth-child(1)
{
    grid-column: 1 / 4;
}
.container:nth-child(5)
{
    grid-column: 1 / 3;
}

/*bouton*/
